<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">

	<persistence-unit name="persistenceUnit" transaction-type="JTA">
		<jta-data-source>java:global/utility/persistence/testDataSource</jta-data-source>
		<exclude-unlisted-classes>false</exclude-unlisted-classes>
		<mapping-file>META-INF/orm.xml</mapping-file>
	
		<properties>
			<property name="hibernate.hbm2ddl.auto" value="create" />
			<property name="hibernate.show_sql" value="false" />
			<property name="hibernate.format_sql" value="true" />	
			<!--
			<property name="hibernate.ejb.use_class_enhancer" value="true" />	
			-->	
		</properties>
	</persistence-unit>

</persistence>