<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">

	<persistence-unit name="persistenceUnit" transaction-type="JTA">
		<jta-data-source>java:global/utility/persistence/testDataSource</jta-data-source>
		<!--class>org.cyk.utility.server.persistence.jpa.MyEntity</class-->
		<exclude-unlisted-classes>false</exclude-unlisted-classes>
	
		<properties>
			<property name="hibernate.hbm2ddl.auto" value="create" />
			<property name="hibernate.show_sql" value="false" />
			<property name="hibernate.format_sql" value="true" />			
		</properties>
	</persistence-unit>

</persistence>