<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>usermanagement Server</display-name>
	
	<context-param>
		<param-name>cyk.parameter.system.name</param-name>
		<param-value>Playground</param-value>
	</context-param>
		
	<context-param>
		<param-name>cyk.parameter.system.web.context</param-name>
		<param-value>playground/server</param-value>
	</context-param>	
	<!--
	<context-param>
		<param-name>cyk.parameter.swagger.bean.config.resource.package</param-name>
		<param-value>org.cyk.utility.playground.server.representation.api</param-value>
	</context-param>
	-->	
</web-app>