<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>Playground Server</display-name>
	
	<context-param>
		<param-name>cyk.variable.system.identifier</param-name>
		<param-value>playground.server</param-value>
	</context-param>
	
	<context-param>
		<param-name>cyk.variable.system.name</param-name>
		<param-value>Playground Server</param-value>
	</context-param>
		
	<context-param>
		<param-name>cyk.variable.system.web.context</param-name>
		<param-value>${jboss-web.context-root}</param-value>
	</context-param>	
	
	<context-param>
		<param-name>cyk.variable.swagger.enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>cyk.variable.swagger.bean.config.resource.package</param-name>
		<param-value>org.cyk.utility.playground.server.representation.api</param-value>
	</context-param>
	
	<!-- keycloak -->
	<context-param>
		<param-name>keycloak.server.url</param-name>
		<param-value>${keycloak.server.url}</param-value>
	</context-param>
	
	<context-param>
		<param-name>keycloak.realm.name</param-name>
		<param-value>${keycloak.realm.name}</param-value>
	</context-param>
	
	<context-param>
		<param-name>keycloak.client.identifier</param-name>
		<param-value>${keycloak.client.identifier}</param-value>
	</context-param>
	
	<context-param>
		<param-name>keycloak.client.secret</param-name>
		<param-value>${keycloak.client.secret}</param-value>
	</context-param>
	
	<context-param>
		<param-name>keycloak.credential.username</param-name>
		<param-value>${keycloak.credential.username}</param-value>
	</context-param>
	
	<context-param>
		<param-name>keycloak.credential.password</param-name>
		<param-value>${keycloak.credential.password}</param-value>
	</context-param>
		
</web-app>